@use "./var/color.scss" as *;
.bgc-pirmary {
  background-color: $primary;
}

.bgc-success {
  background-color: $success;
}

.bgc-warning {
  background-color: $warning;
}

.bgc-danger {
  background-color: $danger;
}

.bgc-info {
  background-color: $info;
}

.bgc-dark-fill {
  background-color: $dark-fill;
}
