.b {
  border: 1px dashed rgb(random(255), random(255), random(255));
}

.border {
  border: 1px solid #eee;
}

$-wh: 25, 50, 75, 100;

@each $item in$-wh {
  .w-#{$item} {
    width: #{$item}+ "%";
  }

  .h-#{$item} {
    height: #{$item}+ "%";
  }

  .wh-#{$item} {
    width: #{$item}+ "%";
    height: #{$item}+ "%";
  }
}

$-spas: "p", "b", "m";

@each $spa in $-spas {
  $var: null;

  @if $spa== "p" {
    $var: "padding";
  } @else if $spa== "b" {
    $var: "border";
  } @else if $spa== "m" {
    $var: "margin";
  }

  @for $i from 0 through 3 {
    .#{$spa}-#{$i} {
      #{$var}: #{$i}0px !important;
    }

    .#{$spa}x-#{$i} {
      #{$var}-left: #{$i}0px;
      #{$var}-right: #{$i}0px;
    }

    .#{$spa}y-#{$i} {
      #{$var}-top: #{$i}0px;
      #{$var}-bottom: #{$i}0px;
    }

    .#{$spa}t-#{$i} {
      #{$var}-top: #{$i}0px !important;
    }

    .#{$spa}r-#{$i} {
      #{$var}-right: #{$i}0px !important;
    }

    .#{$spa}b-#{$i} {
      #{$var}-bottom: #{$i}0px;
    }

    .#{$spa}l-#{$i} {
      #{$var}-left: #{$i}0px;
    }
  }
}
