.model-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  @extend.flex;
  @extend.center-center;
  width: 100vw;
  height: 100vh;
  background-color: $info;
}
.model-card {
  width: 500px;
  height: 300px;
}
