.login-form-button {
  width: 100%;
}
.site-form-item-icon {
  color: #999;
}
.login-form-forgot {
  float: right;
}
.card-login {
  width: 320px;
  border-color: transparent;
  background-color: rgba(#fff, 0.3);
  backdrop-filter: blur(5px);
}
.login-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}
