.login-root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("@/assets/image/bg/bg.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
.login-cvs {
  position: absolute;
  inset: 0;
}
.card-box {
  position: relative;
  width: 320px;
  height: 288px;
  transform: translateY(-32px);
  transform-style: preserve-3d;
  perspective: 1200px;
  > * {
    position: absolute;
    inset: 0;
    @include acrylic();
    width: 100%;
    height: 100%;
    border: 1px grey solid;
    transition: 0.7s transform;
    backface-visibility: hidden;
  }
  > *:nth-child(2) {
    transform: rotateY(-180deg);
  }
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.rotate-y-0 {
  transform: rotateY(0deg) !important;
}
.site-form-item-icon {
  color: #999;
}
.login-form-forgot {
  float: right;
}
