.home {
  display: grid;
  gap: 10px;
  @media (min-width: 576px) {
    > *:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  // xxl:1400以上
  @media (min-width: 1400px) {
    grid-template: auto / repeat(5, minmax(0, 1fr));
  }
  // xl:1200-1399
  @media (min-width: 1200px) and (max-width: 1399px) {
    grid-template: auto / repeat(4, minmax(0, 1fr));
  }
  // lg:992-1199
  @media (min-width: 992px) and (max-width: 1199px) {
    grid-template: auto / repeat(3, minmax(0, 1fr));
  }
  // md:768-991
  @media (min-width: 768px) and (max-width: 991px) {
    grid-template: auto / repeat(3, minmax(0, 1fr));
  }
  // sm:576-767
  @media (min-width: 576px) and (max-width: 767px) {
    grid-template: auto / repeat(2, minmax(0, 1fr));
    // grid-template: auto / minmax(0, 1fr);
  }
  // none:0-575
  @media (max-width: 575px) {
    grid-template: auto / minmax(0, 1fr);
  }
}
