@mixin pos-center($position: absolute) {
  position: #{$position};
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin position($list...) {
  @if (length($list) ==1) {
    top: nth($list, 1);
    right: nth($list, 1);
    bottom: nth($list, 1);
    left: nth($list, 1);
  } @else if(length($list) ==2) {
    top: nth($list, 1);
    right: nth($list, 2);
    bottom: nth($list, 1);
    left: nth($list, 2);
  } @else if(length($list) ==3) {
    top: nth($list, 1);
    right: nth($list, 2);
    bottom: nth($list, 3);
    left: nth($list, 2);
  } @else if(length($list) ==4) {
    top: nth($list, 1);
    right: nth($list, 2);
    bottom: nth($list, 3);
    left: nth($list, 4);
  } @else {
    @warn "至多只能有四个参数！";
  }
}

@mixin m-center {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

@mixin flex-center($xy: null) {
  display: flex;

  @if ($xy== "x") {
    justify-content: center;
  } @else if($xy== "y") {
    align-items: center;
  } @else {
    justify-content: center;
    align-items: center;
  }
}

@mixin card-glass {
  @extend .shadow;
  border-color: transparent;
  background-color: rgba(#fff, 0.2);
  backdrop-filter: blur(3px);
}

@mixin bgc-img {
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
