@mixin pos-center($position: absolute) {
  position: #{$position};
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin position($list...) {
  @if (length($list) == 1) {
    top: nth($list, 1);
    right: nth($list, 1);
    bottom: nth($list, 1);
    left: nth($list, 1);
  } @else if(length($list) == 2) {
    top: nth($list, 1);
    right: nth($list, 2);
    bottom: nth($list, 1);
    left: nth($list, 2);
  } @else if(length($list) == 3) {
    top: nth($list, 1);
    right: nth($list, 2);
    bottom: nth($list, 3);
    left: nth($list, 2);
  } @else if(length($list) == 4) {
    top: nth($list, 1);
    right: nth($list, 2);
    bottom: nth($list, 3);
    left: nth($list, 4);
  } @else {
    @warn "至多只能有四个参数！";
  }
}

@mixin bgc-img {
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

@mixin acrylic($isDark: false) {
  $bgc: if($isDark, #242424, #fff);
  background-color: rgba($bgc, 0.7);
  backdrop-filter: blur(8px) saturate(50%);
  $color: if($isDark, #fff, #000);
  color: $color;
}

@mixin reseau($isDark: false) {
  $bgc: if($isDark, #242424, #fff);
  background-color: transparent;
  background-image: radial-gradient(transparent 1px, $bgc 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(4px) saturate(50%);
  $color: if($isDark, #fff, #000);
  color: $color;
}

@mixin text-line($n: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
  overflow: hidden;
}
