$-dirs: "x", "y";

@each $dir in $-dirs {
  .overflow-#{$dir}-auto {
    overflow-#{$dir}: auto;
    overflow-#{$dir}: overlay;
  }

  .overflow-#{$dir}-hidden {
    overflow-#{$dir}: hidden;
  }

  .overflow-#{$dir}-scroll {
    overflow-#{$dir}: scroll;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
  overflow: overlay;
}

.overflow-scroll {
  overflow: scroll;
}
