@use "./var.scss" as *;
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-primary {
  color: $primary;
}
.text-success {
  color: $success;
}
.text-warning {
  color: $warning;
}
.text-danger {
  color: $danger;
}
.text-info {
  color: $info;
}
.text-black {
  color: $black;
}
.text-white {
  color: $white;
}
