// ======================颜色
$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;
$dark-fill: #ebedf0;
$black: #000;
$white: #fff;

$tiga: #4459ff;
$vite: #646cff;
$vue: rgb(16, 185, 129);
$react: #61dafb;
// ===============阴影
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
