.dark-mode {
  @media (prefers-color-scheme: dark) {
    filter: invert(1) !important;
    img {
      filter: invert(1) !important;
    }
  }
}
.root {
  height: 100vh;
  overflow: auto;
}
.test {
  position: sticky;
  top: 0;
  bottom: 0;
}
