.particle {
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
  background-image: linear-gradient(
    #1b2947,
    #2b3152,
    #3b385d,
    #4c4067,
    #5d4771
  );
}
.particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.particle-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow: overlay;
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
