@mixin list {
  column-count: 2;
  > li + li {
    @extend .my-1;
  }
}

.form-ul {
  @include list;
  input:where([type="image"]) {
    width: 5rem;
  }
}
.box {
  @extend .p-1;
}
.ol {
  @include list;
}
