.demo {
  width: 500px;
  height: 100px;
  margin: 10px auto;
  background-image: radial-gradient(transparent 1px, #fff 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);
}
.box {
  @extend .h-100h, .p-1;
  background-image: url("@/assets/image/bg/snow-village.jpg");
  @include bgc-img;
  display: grid;
  gap: 10px;
  grid-template: auto / repeat(3, minmax(0, 1fr));
  place-items: start stretch;
  > * {
    box-sizing: content-box;
    // height: 11 * 1.5 * 1em;
    padding: 0.5rem;
    border-radius: 5px;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
.grid {
  @include reseau;
}
.reseau {
  @include reseau(true);
  @include text-line;
}
.dark {
  @include acrylic(true);
}
.light {
  @include acrylic;
}
