.ctx {
  position: absolute;
  inset: 0;
}
.box {
  position: relative;
  height: 100%;
  background-image: url("@/assets/image/bg/snow.jpg");
  background-image: url("@/assets/image/bg/snow-village.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}
