.partcle {
  position: relative;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  background-image: linear-gradient(
    rgba(193, 35, 35, 0.71),
    rgba(32, 39, 216, 0.71)
  );
}
.particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.particle-content {
  height: 100%;
}
