.collapse {
  display: grid;
  grid-template-rows: 0fr;

  will-change: grid-template-rows;
  transition-property: grid-template-rows;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  //   transition-timing-function: ease-in-out;
}
.collapse__content {
  overflow: hidden;
}
.collapse--open {
  grid-template-rows: 1fr;
}
