$radius: 0.5rem;

.box {
  display: grid;
  place-items: center;
  height: 100vh;
}
.box-main {
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: repeat(2, minmax(288px, 1fr));
  border-radius: $radius;
  box-shadow: $box-shadow;
  background-color: white;

  > * {
    padding: 0.5rem;
  }

  @media (max-width: 575px) {
    width: 100%;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: auto;

    > *:last-child {
      order: 0;
      border-radius: 0 0 $radius $radius;
    }
    > * {
      order: 1;
    }
  }
}
.main-right {
  display: flex;
  flex-direction: column;
  border-radius: $radius;
  background-image: linear-gradient(45deg, #{$vite}, #{$vue});
  color: white;

  > div {
    position: relative;
    flex: 1;
    overflow: hidden;

    > div {
      position: absolute;
      height: 100%;
      overflow: auto;
      overflow: overlay;
    }
  }
}
