$radius: 0.5rem;

.box {
  box-sizing: border-box;
  display: grid;
  overflow: hidden;
  // place-items: center;
  // padding: 1rem;

  * {
    box-sizing: border-box;
  }
}
.box-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: $radius;
  box-shadow: $box-shadow;

  @media (max-width: 600px) {
    grid-template-rows: 1fr 1fr;
    > *:last-child {
      grid-row: 1 / span 1;
    }
  }

  > * {
    flex: 1 0 22rem;
    padding: 0.5rem;
  }
}

.main-right {
  display: flex;
  flex-direction: column;
  border-radius: $radius;
  background-image: linear-gradient(45deg, #{$vite}, #{$vue});
  color: white;

  > div {
    position: relative;
    flex: 1;
    overflow: hidden;
  }
}
.right-board {
  position: absolute;
  inset: 0;
  padding-right: 0.5rem;
  overflow: auto;
  overflow: overlay;
}
