.demo {
  width: 500px;
  height: 100px;
  margin: 10px auto;
  background-image: radial-gradient(transparent 1px, #fff 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);
}
.box {
  @extend .h-100h, .clearfix;
  background-image: url("@/assets/image/bg/snow-village.jpg");
  @include bgc-img;
  canvas {
    background-color: #fff;
  }
}
.trans {
  transition: height 0.3s;
  will-change: height;
}
