.demo {
  width: 500px;
  height: 100px;
  margin: 10px auto;
  background-image: radial-gradient(transparent 1px, #fff 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);
}
.box {
  @extend .h-100h, .p-1;
  background-image: url("@/assets/image/bg/snow-village.jpg");
  @include bgc-img;
  display: grid;
  gap: 10px;
  grid-template: auto / repeat(3, minmax(0, 1fr));
  > * {
    box-sizing: content-box;
    height: 7 * 1.5 * 1em;
    padding: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
.grid {
  backdrop-filter: blur(4px) saturate(50%);
  background-image: radial-gradient(transparent 1px, #fff 1px);
  background-size: 4px 4px;
  color: $vite;
}
.dark {
  backdrop-filter: blur(8px) saturate(50%);
  background-color: rgba(#242424, 0.7);
  color: #fff;
}
.light {
  backdrop-filter: blur(8px) saturate(50%);
  background-color: rgba($color: #fff, $alpha: 0.7);
}
