.particle {
  @extend .h-100;
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
  background-image: linear-gradient(
    rgba(193, 35, 35, 0.71),
    rgba(32, 39, 216, 0.71)
  );
}
.particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.particle-content {
  @extend .clearfix;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow: overlay;
}
