.box {
  display: flex;
  height: 100%;
  background-color: #000;
  .bottle {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    background: #ffffff1a;
    transform-origin: bottom center;
    animation: bottle-animate linear 3s infinite;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -3px;
      display: block;
      width: 150px;
      height: 60px;
      border-radius: 70%;
      box-shadow: 0 10px 5px rgba(0, 0, 0, 0);
      background-color: #505250;
      transform: translate(-50%);
    }
    .water {
      position: absolute;
      top: 50%;
      left: 10px;
      right: 10px;
      bottom: 10px;
      border-radius: 0 0 150px 150px;
      background-color: #41c1fb;
      filter: drop-shadow(0 0 80px #41c1fb);
      transform-origin: top center;
      animation: water-animate linear 3s infinite;
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        display: block;
        width: 100%;
        height: 20px;
        border: 10px solid #0da2e7;
        border-radius: 50%;
      }
    }
  }
  .bottle-bottom {
    position: absolute;
    left: 50%;
    top: calc(50% + 150px);
    width: 300px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, 40px);
  }
}
@keyframes bottle-animate {
  0%,
  50%,
  100% {
    transform: rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
@keyframes water-animate {
  0%,
  50%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
}
