// ========滚动条优化
::-webkit-scrollbar {
  // PC端
  @media (any-hover: hover) {
    width: 8px;
    height: 8px;
  }
  // 移动端不显示滑块
  @media (any-hover: none) {
    width: 0;
    height: 0;
  }
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(#000, 0.1);
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  // 移动端不展示
  @media (any-hover: none) {
    display: none;
  }
}
* {
  scrollbar-color: rgba(#000, 0.1) transparent;
  @media (any-pointer: none) {
    scrollbar-width: auto;
  }
  @media (any-pointer: coarse) {
    scrollbar-width: none;
  }
  @media (any-pointer: fine) {
    scrollbar-width: thin;
  }
}

// =======================全局工具
:root {
  scroll-behavior: smooth;
}
[v-cloak] {
  display: none !important;
}
