.partcle {
  @extend .h-100;
  position: relative;
  padding: 0;
  bottom: 0;
  margin: 0;
  background-image: linear-gradient(
    #1b2947,
    #2b3152,
    #3b385d,
    #4c4067,
    #5d4771
  );
}
.particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.particle-content {
  @extend .clearfix;
  height: 100%;
}
