@mixin list {
  column-count: 2;
  > li + li {
    margin-block: 0.5rem;
  }
}

.form-ul {
  @include list;
  input:where([type="image"]) {
    width: 5rem;
  }
}
.box {
  padding: 0.5rem;
}
.ol {
  @include list;
}
