.firework-box {
  position: relative;
  height: 100%;
  /*  background-image: linear-gradient(
    rgba(193, 35, 35, 0.71),
    rgba(32, 39, 216, 0.71)
  ); */
  background-color: rgba(0, 0, 0, 1);
}
.firework-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
